.geradorContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.geradorContainer img {
    width: 400px;
    height: 400px;
}
.geradorContainer button {
    width: 400px;
    background-color: rgb(255, 238, 0);
    border: 0;
    color: rgb(9, 255, 0);
    height: 30px;
    border-radius: 7px;
    margin-top: 12px;
    box-shadow: 1px -4px 1px 15px rgb(255, 255, 255);
cursor: pointer;
}
.geradorContainer button:hover{
    background: rgb(255, 0, 0);
    
}
